{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="nav navbar">
      <ul>
        <li><a href="{% url 'index_view' %}">Team</a></li>
        {% if request.user.account.resign == False %}
        <li><a href="{% url 'resign_view' %}">Re Sign</a></li>
        {% elif request.user.account.free_agent == False %}
        <li><a href="{% url 'free_agent_view' %}">Free Agents</a></li>
        {% elif request.user.account.draft == False %}
        <li><a href="{% url 'draft_view' 1 %}">Draft</a></li>
        {% else %}
        <li><a href="{% url 'index_view' %}">Final Cuts</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      {% block extrascript %}
      {% endblock %}
    </div>
  </body>
</html>
