{% extends 'base.html' %}
{% block content %}
<h1>Index</h1>
<div class="row">
  <div class="col-md-2">
    <h3>QB</h3>
    {% for player in qb %}
    {{ player }}: {{ player.cap_hit }}<br>
    {% endfor %}
    <h3>HB</h3>
    {% for player in hb %}
    {{ player }}<br>
    {% endfor %}
    <h3>WR</h3>
    {% for player in wr %}
    {{ player }}<br>
    {% endfor %}
  </div>
  <div class="col-md-3">
    <h3>TE</h3>
    {% for player in te %}
    {{ player }}<br>
    {% endfor %}
    <h3>OL</h3>
    {% for player in ol %}
    {{ player }}<br>
    {% endfor %}
  </div>
  <div class="col-md-2">
    <h3>DL</h3>
    {% for player in dl %}
    {{ player }}<br>
    {% endfor %}
    <h3>ED</h3>
    {% for player in ed %}
    {{ player }}<br>
    {% endfor %}
  </div>
  <div class="col-md-2">
    <h3>ILB</h3>
    {% for player in lb %}
    {{ player }}<br>
    {% endfor %}
    <h3>CB</h3>
    {% for player in cb %}
    {{ player }}<br>
    {% endfor %}
    <h3>S</h3>
    {% for player in s %}
    {{ player }}<br>
    {% endfor %}
  </div>
  <div class="col-md-3">
    <br>
    <h4>{{ count }}/53</h4>
    <h4>{{ total_cap }}</h4>
    <h4>{{ cap_space_left }}</h4>
  </div>

</div>





{% endblock %}
